/* style.css */

/* Body styling */
body {
    margin: 1%;
    padding: 5%;
    font-size: 100%;
}

/* H1 styling */
h1 {
    font-size: 200%;
    font-weight: bold;
}

/* H2 styling */
h2 {
    font-size: 150%;
    font-style: oblique;
}

/* Unordered lists */
ul {
    list-style: disc;
}

/* All images */
img {
    width: 25%;
    border: 3px dotted #0000ff;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/* First image (large top image) */
img:first-of-type {
    width: 100%;
}

/* Middle section with yellow background */
/* 常见情况是用 div 包住中间内容 */
div:nth-of-type(2) {
    background-color: #ffff00;
}

/* First two h2 elements in red */
h2:nth-of-type(1),
h2:nth-of-type(2) {
    color: #ff0000;
}

/* First and last list item */
li:first-child,
li:last-child {
    text-transform: uppercase;
    background-color: #00ffff;
}
